{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profileStyles.css') }}">
{% endblock %}

{% block content %}
<h1 class="profile_header">Your Profile!</h1>
<!-- 2 columns -->

<div class="row">
  <div class="column left">
    <img src="{{ user.avatar() }}" class="user_photo">
    <h2 class="user_name">{{ user.first_name }} {{ user.last_name }}</h2>
    <p>{{ user.about_me }}</p>
  </div>
  <div class="column right">
    <!--List of favorited Campsites-->
    <h3>Saved Campsites</h3>
    {% for campsite in campsites %}
    <div class="favorites">
      {% include '_campsite.html' %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
