{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="center"></div>
<h1>Signup</h1>
<form action="/signup" method="POST" class="button">
  {{ form.hidden_tag() }}
  <p>
    {{ form.username.label }}<br>
    {{ form.username(size=32, class_='username_input') }}<br>
    <p class="username_input"></p>
    {% for error in form.username.errors %}
    <span class="error" style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.email.label }}<br>
    {{ form.email(size=64, class_='') }}<br>
    {% for error in form.email.errors %}
    <span class="error" style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password.label }}<br>
    {{ form.password(size=32, class_='') }}<br>
    {% for error in form.password.errors %}
    <span class="error" style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password2.label }}<br>
    {{ form.password2(size=32, class_='') }}<br>
    {% for error in form.password2.errors %}
    <span class="error" style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
</div>
{% endblock %}

</p>

</form>