{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}

  <div class="parent">
    <div class="left"><img src="{{ url_for('static', filename='img/campsite_03.jpeg') }}" width="640" height="420" alt="" /></div>
    <div class="right">
      <h2 class="about_header">Who are we?</h2>
      <p>When you have a great story about how your product or service was built to change lives, share it. The "About
        Us" page is a great place for it to live, too. Good stories humanize your brand, providing context and meaning
        for your product. What’s more, good stories are sticky -- which means people are more likely to connect with
        them and pass them on.
        Yellow Leaf Hammocks tells users about its product by describing how the hammocks empower artisan weavers and
        their families. The <br>
        When you have a great story about how your product or service was built to change lives, share it. The "About
        Us" page is a great place for it to live, too. Good stories humanize your brand, providing context and meaning
        for your product. What’s more, good stories are sticky -- which means people are more likely to connect with
        them and pass them on.
        Yellow Leaf Hammocks tells users about its product by describing how the hammocks empower artisan weavers and
        their families. The </p>
    </div>
  </div>
  {% endblock %}
