<!doctype html>
<html>

<head>
  <meta charset="UTF-8">

  {% if title %}<title>{{ title }}</title>
  {% else %}<title>Treeline</title>{% endif %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/globalStyles.css') }}">
  {% block styles %}{% endblock %}
</head>

<body>
  <!-- Top navigation -->
  <div class="topnav">

    <!-- Centered link -->
    <div class="topnav-centered"> <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo-02.jpg') }}"
          width="211" height="68" alt="" /></a>
    </div>

    <!-- Left-aligned links (default) -->
    <div class="topnav-left"> <a href="{{ url_for('profile') }}">My Campsites</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
    <!-- Right-aligned links -->
    <div class="topnav-right"> <a href="#search">Contact</a> <a href="{{ url_for('about') }}">About</a> </div>
  </div>
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="pop_up">
    <h4 class="msg">
      {{ message }}
    </h4>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  {% block content %}
  {% endblock %}
  <div class="footer">
    <div class="grid-container">
      <div class="grid-item item1"><b>Browse by Filter</b></div>
      <div class="grid-item item2"><b>Contact Us</b></div>
      <div class="grid-item item3"><b>About Us</b></div>
      <div class="grid-item item4">Activities</div>
      <div class="grid-item item5">Popularity</div>
      <div class="grid-item item6">(773)-318-8539</div>
      <div class="grid-item item7">Mission Statement</div>
      <div class="grid-item item8">Cost</div>
      <div class="grid-item item9">Size</div>
      <div class="grid-item item10">treeline@gmail.com</div>
      <div class="grid-item item11">Our Story</div>
      <div class="grid-item item12">Amenities</div>
      <div class="grid-item item13">Availability</div>
      <div class="grid-item item14">243 Wabash Ave.</div>
      <div class="grid-item item15"></div>
      <div class="grid-item item16"></div>
      <div class="grid-item item17">Chicago, IL</div>
      <div class="grid-item item18"></div>
      <div class="grid-item item19">Treeline copyright 2018</div>
      <div class="grid-item item20"></div>
      <div class="grid-item item21"></div>
    </div>
  </div>

</body>

</html>