{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/campsite.css') }}">
{% endblock %}

{% block content %}

  
<!-- Slideshow -->

<div class="slideshow-container">

  <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="{{ url_for('static', filename='img/campsite_03.jpeg') }}" width="640" height="420" alt="" /> </div>

  <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="{{ url_for('static', filename='img/campsite_04.jpeg') }}" width="640" height="420" alt="" /> </div>

  <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="{{ url_for('static', filename='img/campsite_05.jpeg') }}" width="640" height="420" alt="" /> </div>



</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>
<!-- 2Column -->

<div class="row1">
    <div class="column1">
        <div class="row2">
        <div class="column2">
            <h2 class="site_name">{{ campsite.facility_name }}</h2>
            <p class="site_description">SYou’ll have a bit of a drive to get to Kettle Moraine State Forest, but the
          Wisconsin state park makes the trek worth it, with several areas of the park available for camping and other
          activities. The northern section of the park offers more of a wooded retreats, with denser trees that help
          create some seclusion for guests. The 30,000-acre section of the park offers three beaches for swimming and a
          remote backpacking camping area for the </p>
          </div>
        <div class="column2">
        {% if reviews %}
            <h2 class="review_header">Camper Reviews</h2>
        {% for review in reviews %}
          <h3 class="reviewer_name">{{ review.author.username }}</h3>
            <p class="reviewer_comment">{{ review.body }}
          {% endfor %}

          {% else %}
              <h2 class="review_header">No Reviews for this campground</h2>
          <a href="{{ url_for('new_review', cid=cid, pid=pid) }}">Care to write the first?!</a>
          {% endif %}

        </p>
          </div>
    </div>
      </div>


    <div class="column1">
        <div class="row2">
        <div class="column2">
            <h2 class="amenities">Amenities</h2>
        <ul>
          {% for am in amenities %}
          <li>{{ am }}</li>
          {% endfor %}
        </ul>
            
          
      </div>
        <div class="column2">
            <h2 class="activities">Activities
          <ul>
            {% for ac in activities %}
            <li>{{ ac }}</li>
            {% endfor %}
          </ul>



        </h2>
          </div>
    </div>
      </div>
</div>


<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
  }
</script>



{% endblock %}